.quiz-container {
  margin-top: 25px;
  overflow: hidden;
  height: --quiz-height;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 25px;

  .info-container {
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-grow: grow;
    flex-direction: column;

    img {
      width: 300px;
      padding: 10px;
    }

    .quiz-stats {
      margin-top: 25px;
      margin-left: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1;
      justify-content: center;

      h2 {
        font-weight: 600;
      }

      span {
        font-size: 14px;
        font-weight: 400;
      }

      .scroll-notice {
        margin-top: auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        svg {
          width: 20px;
        }

        span {
          font-size: 12px;
        }
      }
    }
  }

  .questions-container {
    height: var(--quiz-height);
    scroll-snap-type: y mandatory;
    overflow: scroll;
    overflow-x: hidden;
    margin-right: -17px;
  }
}
