@import "../../mixins";

.quiz-container {
  margin-top: 25px;
  overflow: hidden;
  height: --quiz-height;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 25px;

  @include for-phone-only {
    grid-template-columns: 1fr;
  }

  @include for-tablet-portrait-up {
    grid-template-columns: 1fr;
  }

  @include for-desktop-up {
    grid-template-columns: 300px 1fr;
  }

  // @include for-tablet-landscape-up {
  //   grid-template-columns: 1fr;
  // }

  .info-container {
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-grow: grow;
    flex-direction: column;
    background: var(--light-back);

    @include for-tablet-portrait-up {
      flex-direction: row;
    }

    @include for-desktop-up {
      flex-direction: column;
    }

    img {
      width: 300px;
      padding: 10px;

      @include for-phone-only {
        display: none;
      }

      @include for-tablet-portrait-up {
        width: 150px;
        height: 150px;
        margin: auto;
      }

      @include for-tablet-landscape-up {
        width: 230px;
        height: 230px;
        margin: auto;
      }
    }

    .quiz-stats {
      margin-top: 25px;
      margin-left: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1;
      // justify-content: center;

      @include for-phone-only {
        gap: 5px;
      }

      @include for-tablet-portrait-up {
        gap: 10px;
      }

      @include for-desktop-up {
        gap: 20px;
      }

      h2 {
        font-weight: 600;
      }

      span {
        font-size: 14px;
        font-weight: 400;
      }

      .scroll-notice {
        margin: auto auto 20px auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
          width: 20px;
        }

        span {
          font-size: 12px;
        }

        @include for-phone-only {
          margin-top: 15px;
        }

        @include for-tablet-portrait-up {
          margin-top: 15px;
        }

        @include for-desktop-up {
          margin-top: auto;
        }
      }
    }
  }

  .questions-container {
    height: var(--quiz-height);
    scroll-snap-type: y mandatory;
    overflow: scroll;
    overflow-x: hidden;
    margin-right: -17px;
    background: var(--light-back);
    scroll-behavior: smooth;

    @include for-phone-only {
      height: var(--quiz-height-phone);
    }

    @include for-tablet-portrait-up {
      height: var(--quiz-height-phone);
    }

    @include for-desktop-up {
      height: var(--quiz-height);
    }
  }
}
