.category {
  box-shadow: var(--box-shadow);
  border-radius: 7px;
  overflow: hidden;

  img {
    background-color: var(--font-color);
    width: 100%;
  }

  .category-info {
    font-family: 'Roboto condensed';
    padding: 15px 10px;
    display: flex;
    flex-wrap: wrap;

    .name {
      font-size: 21px;
      letter-spacing: 0.6px;
    }

    .total {
      margin-left: auto;
      font-size: 18px;
      color: var(--orange-accent);
    }
  }

  button {
    font-family: 'Roboto condensed';
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: var(--teal-accent);
    color: var(--font-color);
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
      height: 18px;
    }
  }
}
