nav {
  padding: 15px 0;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: var(--box-shadow);
  
  div {
    display: flex;
    align-items: center;
    
    img {
      height: 50px;
    }

    span {
      margin-left: 20px;
      font-weight: 700;
      letter-spacing: 1.5px;
      font-size: 25px;
    }

    .nav-links {
      margin-left: auto;
      display: flex;
      gap: 20px;
      font-weight: 400;

      a {
        text-decoration: none;
        letter-spacing: 0.8px;
        padding-bottom: 5px;

        &.active {
          border-bottom: 2px solid #fdb111;
        }

        &:visited {
          color: var(--font-color);
        }
        &:link {
          color: var(--font-color);
        }
      }
    }
  }
}
