@import '../../mixins';

.question-div {
  text-align: center;
  padding: 25px;
  height: var(--quiz-height);
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-phone-only {
    height: var(--quiz-height-phone);
  }

  @include for-tablet-portrait-up {
    height: var(--quiz-height-phone);
  }

  @include for-desktop-up {
    height: var(--quiz-height);
  }

  .details {
    width: 60%;

    @include for-phone-only {
      width: 100%;
    }

    @include for-tablet-portrait-up {
      width: 90%;
    }

    @include for-desktop-up {
      width: 70%;
    }

    @include for-big-desktop-up {
      width: 60%;
    }

    .question-container {
      position: relative;

      h2 {
        margin: 0 auto;
        margin-bottom: 50px;
        font-weight: 500;
        width: 80%;

        @include for-phone-only {
          font-size: 16px;
          margin-bottom: 25px;
        }
      }

      .eye-icon {
        display: inline-block;
        width: 25px;
        position: absolute;
        top: -50px;
        right: 5px;
        cursor: pointer;
      }
    }

    .question-index {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .options-container {
      width: 100%;
      margin: 0 auto;
      margin-top: 25px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 7px;

      @include for-phone-only {
        font-size: 15px;
        grid-template-columns: 1fr;
      }

      @include for-tablet-portrait-up {
        grid-template-columns: 1fr;
      }

      @include for-tablet-landscape-up {
        grid-template-columns: 1fr 1fr;
      }

      span {
        width: 100%;
        height: 100%;
        border: 2px solid var(--font-color);
        border-radius: 25px;
        display: inline-block;
        padding: 9px 25px;

        &:hover {
          cursor: pointer;
          background: rgb(237, 236, 236);
        }

        &.correct {
          color: rgb(2, 88, 2);
          border: 2px solid rgb(2, 88, 2);
          background: rgb(173, 246, 173);
        }

        &.wrong {
          color: rgb(136, 2, 2);
          border: 2px solid rgb(136, 2, 2);
          background: rgb(247, 190, 190);
        }
      }
    }
  }
}
