.question-div {
  text-align: center;
  padding: 25px;
  height: var(--quiz-height);
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .details {
    width: 60%;

    .question-container {
      position: relative;

      h2 {
        margin: 0 auto;
        margin-bottom: 50px;
        font-weight: 500;
        width: 80%;
      }

      .eye-icon {
        display: inline-block;
        width: 25px;
        position: absolute;
        top: -50px;
        right: 5px;
        cursor: pointer;
      }
    }

    .question-index {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .options-container {
      width: 100%;
      margin: 0 auto;
      margin-top: 25px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 7px;

      span {
        width: 100%;
        height: 100%;
        border: 2px solid var(--font-color);
        border-radius: 25px;
        display: inline-block;
        padding: 10px 25px;

        &:hover {
          cursor: pointer;
          background: rgb(200, 200, 200);
        }

        &.correct {
          color: green;
          border: 2px solid green;
          background: rgb(151, 233, 151);
        }

        &.wrong {
          color: red;
          border: 2px solid red;
          background: rgb(245, 169, 169);
        }
      }
    }
  }
}
